<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cart.backend.DAO.ClaimMapper">

    <select id="SelectClaim" resultType="com.cart.backend.Entity.ClaimSelectParam">
        select
            claim.id, client.name,reviewer.name, claimer.name, claim.reviewStatus,
            claim.severity, claim.claimTime, claim.reviewTime,
            claim.externSeverity, claim.type, claim.claimerId,claim.reviewerId
        from
        claim inner join client on claim.clientId = client.id
        inner join auth reviewer on claim.reviewerId = reviewer.id
        inner join auth claimer on claim.claimerId = claimer.id
        <where>
            <if test="clientName != null">
                claim.clientId = (
                select id from client
                where name like concat('%', #{clientName}, '%')
                )
            </if>
            <if test="reviewerName != null">
                and claim.reviewerId = (
                select id from auth
                where name like concat('%', #{reviewerName}, '%')
                )
            </if>
            <if test="reviewStatus != null">
                and claim.reviewStatus = #{reviewStatus}
            </if>
            <if test="severity != null">
                and claim.severity = #{severity}
            </if>
            <if test="claimTime != null">
                and date(claim.claimTime) = #{claimTime}
            </if>
            <if test="reviewTime != null">
                and date(claim.reviewTime) = #{reviewTime}
            </if>
            <if test="externSeverity != null">
                and claim.externSeverity = #{externSeverity}
            </if>
            <if test="type != null">
                and claim.type = #{type}
            </if>
            <if test="claimerId != null">
                and claim.claimerId = #{claimerId}
            </if>
            <if test="reviewerId != null">
                and claim.reviewerId = #{reviewerId}
            </if>
        </where>
    </select>


</mapper>