<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cart.backend.DAO.ClaimMapper">

    <select id="SelectClaim" resultType="com.cart.backend.Entity.ClaimSelectParam">
        select
            claim.id as id, client.name as clientName,reviewer.name as reviewerName, claimer.name as claimerName, claim.reviewStatus as reviewStatus,
            claim.severity as severity, claim.claimTime as claimTime, claim.reviewTime as reviewTime,
            claim.externSeverity as externSeverity, claim.type as type, claim.claimerId as claimerId,claim.reviewerId as reviewerId, reason.cause as reasonName
        from
        claim inner join client on claim.clientId = client.id
        left join auth reviewer on claim.reviewerId = reviewer.id
        inner join auth claimer on claim.claimerId = claimer.id
        inner join reason on claim.reasonId = reason.id
        <where>
            <if test="clientName != null">
                claim.clientId IN (
                select id from client
                where name like concat('%', #{clientName}, '%')
                )
            </if>
            <if test="reviewerName != null">
                and claim.reviewerId IN (
                select id from auth
                where name like concat('%', #{reviewerName}, '%')
                )
            </if>
            <if test="reviewStatus != null">
                and claim.reviewStatus = #{reviewStatus}
            </if>
            <if test="severity != null">
                and claim.severity = #{severity}
            </if>
            <if test="claimTime != null">
                and date(claim.claimTime) = #{claimTime}
            </if>
            <if test="reviewTime != null">
                and date(claim.reviewTime) = #{reviewTime}
            </if>
            <if test="externSeverity != null">
                and claim.externSeverity = #{externSeverity}
            </if>
            <if test="type != null">
                and claim.type = #{type}
            </if>
            <if test="claimerId != null">
                and claim.claimerId = #{claimerId}
            </if>
            <if test="reviewerId != null">
                and claim.reviewerId = #{reviewerId}
            </if>
        </where>

    </select>


</mapper>